.Home .lander {
  padding: 40px 20px;
  text-align: center;
  background: #3178D0;
  background-image: url("../images/white-cloud.png");
  background-position: 50% 190%;
  background-repeat: no-repeat;
  height: 400px;
}

.Home .lander h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.Home .lander p {
  color: white;
  letter-spacing: 2px;
  font-size: 30px;
}

.Home .lander a {
  /* color: #2F2F97; */
  background-color: white;
  border: solid white 1px;
  padding: 1rem;
}
.Home .about img {
  padding: 1rem;
  /* margin: .5rem; */
  height: 5rem;
}
.Home .panel-default {
  height: 80px;
  width: 60%;
}

.Home. .homePage {
  width: 100%;
}

.Home .templates h4, h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  color: black;
}

.Home .templates h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: white;
}

.Home .templates p {
  color: black;
}
.Home .about em {
  font-weight: bold;
  color: #3178D0;
}

.Home .lander div {
  padding-top: 20px;
}
.Home .lander div a:first-child {
  margin-right: 20px;
}

.Home .jumbotron {
  background-size: contain;
  background-color: #3178D0;
  /* margin-bottom: 300px; */
  height: 50%;
}

.Home .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background: white;
}
.Home .about {
  width: 70rem;
  margin: .5rem;
  /* text-align: center; */
  padding: 2rem;
  color: dimgrey;
}
.Home .aboutTitle {
  height: 20rem;
  width: 20rem;
  margin: .5rem;
  flex-grow: 1;
  text-align: center;
  /* padding: 2rem; */
  color: black;
}

.Home .template1 {
  width: 30rem;
  height: 10rem;
  margin: .5rem;
  padding: 2rem;
  background-color: #FF9999;
  border-color: #FF9999;
}
.Home .template2 {
  width: 30rem;
  height: 10rem;
  margin: .5rem;
  padding: 2rem;
  background-color: #CCFFCC;
  border-color: #CCFFCC;
}
.Home .template3 {
  width: 30rem;
  height: 10rem;
  margin: .5rem;
  padding: 2rem;
  background-color: #FFFF99;
  border-color: #FFFF99;
}
.Home .template4 {
  width: 30rem;
  height: 10rem;
  margin: .5rem;
  padding: 2rem;
  background-color: #FFCC99;
  border-color: #FFCC99;
}
.Home .template5 {
  width: 30rem;
  height: 10rem;
  margin: .5rem;
  padding: 2rem;
  background-color: #CC99FF;
  border-color: #CC99FF;
}
.Home .template6 {
  width: 30rem;
  height: 10rem;
  margin: .5rem;
  padding: 2rem;
  background-color: #FF9999;
  border-color: #FF9999;
}
.Home .template7 {
  width: 30rem;
  height: 10rem;
  margin: .5rem;
  padding: 2rem;
  background-color: #CCFFCC;
  border-color: #CCFFCC;
}
.Home .template8 {
  width: 30rem;
  height: 10rem;
  margin: .5rem;
  padding: 2rem;
  background-color: #FFFF99;
  border-color: #FFFF99;
}
.Home .template9 {
  width: 30rem;
  height: 10rem;
  margin: .5rem;
  padding: 2rem;
  background-color: #FFCC99;
  border-color: #FFCC99;
}
.Home .template10 {
  width: 30rem;
  height: 10rem;
  margin: .5rem;
  padding: 2rem;
  background-color: #CC99FF;
  border-color: #CC99FF;
}
.Home .template11 {
  width: 30rem;
  height: 10rem;
  margin: .5rem;
  padding: 2rem;
  background-color: #FF9999;
  border-color: #FF9999;
}
.Home .newtemplate{
  width: 30rem;
  height: 10rem;
  margin: .5rem;
  padding: 2rem;
  background-color: white;
  border-color: white;
}

.Home .templateList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Home .column1, .column2{
  border: 2px solid black;
}
.Home .thumbnail-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.Home .thumbnails{
  width: 30%;
  margin: 10px;
  background: white;
  text-align: center;
  border-color: #3178D0;
}
.Home .thumbnails p, h4{
  color: dimgrey;
}
